img {
    border: 5px dashed black;
    padding: 5px;
}

body{
    background-color: lightblue;
    color: navy;
    font-family: times;
}

.mainheading{
    font-size: 50px;
    font-stretch: expanded;
    font-family: arial;
    color: dodgerblue;
    border: 5px dotted orange;
}

.subheading{
    color: dodgerblue;
    font-size: 30px;
}

p {
    border: 5px solid green;
}