img {
    border: 1px solid black;
}

body {
    background-color: ivory;
    font-family: verdana;
}

h1{
    border: 3px; 
    color: orange;
    font-size: 25px;
    border-style: dotted;
    text-align: center; 
    border-color: yellow; 
    font-family: arial;
}



.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #00b2a9;
  border-radius: 6px;
  outline: none;
}



